/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing:border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 1rem;
}
.container {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
}
.profile-header {
    display: flex;
    align-items: center;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
}
.profile-header {
    display: flex;
    align-items: center;
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.profile-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 6000px;
    padding: 20px;
}

.profile-image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 170px;
    border-radius: 80%;
    border: 6px solid darkslategray;
}
.profile-info {
    display: flex;
    flex-direction: column;
}
.profile-actions {
    display: flex;
    align-items: center;
}

.profile-image img{
    width: 170px;
    height: 170px;
    object-fit: cover;
    border-radius: 80%;
    object-position: center;
    padding-top: 12px;
    margin-bottom: 1rem;
}
<<<<<<< HEAD
.container> div{
    flex:1 ;
}

.profile-user-settings {
=======
.profile-user-settings{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 10px;
    justify-content: left;
    flex-wrap: wrap;
    cursor: pointer;
    position: relative;
    flex-shrink: calc(30%);
}
.profile-user-name{
>>>>>>> bca15901d979507a653f142a42af10556bfa7fd4
    display: flex;
    align-items: center;
    top: 50%;
}

.profile-user-name {
    display: flex;
    margin-top: 10px;
    top: 0
}
.profile-user-name{
    font-size: 24px;
    font-weight: normal;
<<<<<<< HEAD
    position: relative;
    margin-right: 20px;
}
.profile-edit-btn, .profile-settings-btn {
    margin-top: 10px;
    cursor: pointer;
    display: flex;
    position: relative;
    flex-shrink: calc(20%);
}
.profile-settings-btn { 
   margin-left: auto;
}
.profile-edit-btn{
    display: flex;
    position: relative; 
    margin-left: auto;
}

.profile-stats {
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    flex-direction: row;
}
.profile-bio {
    margin-left:auto;
    top: auto;
    align-content: center;
=======
    justify-self: right;
    position:absolute;
}
.profile-user-name{
    margin-bottom: 150px;
    left: 100px;  
}
.profile-edit-btn{
    display: flex;
    justify-self: right;
    position: absolute;
    cursor: pointer;
}

.profile-edit-btn{
    margin-bottom: 150px; 
    left: 250px;
}
.profile-settings-btn{
    display: flex;
    justify-self: right;
    position: absolute;
    cursor: pointer;
}
.profile-settings-btn{
    margin-bottom: 150px;
    left: 310px;
}
.profile-stats{
    display: flex;
    flex-direction: row;
    justify-items: left;
    position: absolute;
}
.profile-stats{
    margin-bottom: 140px;
    right: 1px; 
}
.profile-bio{
    display: flex;
    justify-content: left;
    position: relative;
}
.profile-real-name{
    

>>>>>>> bca15901d979507a653f142a42af10556bfa7fd4
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
<<<<<<< HEAD
=======
    margin-top: auto;
>>>>>>> bca15901d979507a653f142a42af10556bfa7fd4
}

.gallery-item {
    position: relative;
    width: calc(33.333% - 10px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.gallery-item img {
    width: 100%;
    display: block;
    transition: transform 0.3s ease;
    justify-content: center;
}

.gallery-item-info, .gallery-item-type {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.loader {
    text-align: center;
    padding: 20px;
    cursor:progress
}

.gallery-item:hover img {
    transform: scale(1.1);
    background-color: dimgray;
}

.gallery-item:hover .gallery-item-info, .gallery-item:hover .gallery-item-type {
    opacity: 1;
}
<<<<<<< HEAD

=======
>>>>>>> bca15901d979507a653f142a42af10556bfa7fd4
